{% macro js(href) %}<script src="/static/js/{{ href }}" type="text/javascript" charset="utf-8"></script>{% endmacro %}
{% macro css(href) %}<link rel="stylesheet" href="/static/css/{{ href }}" type="text/css" charset="utf-8"/>{% endmacro %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Goodbye horses{% endblock %}</title>
    {% block head %}
      {# CSS reset #}{{ css("reset.css") }}
      {# Main styling #}{{ css("main.css") }}
      {# Pygments syntax hilight #}{{ css("style.css") }}
      {# MooTools! #}{{ js("mootools.js") }}
      {# Main JavaScript (generic) #}{{ js("main.js") }}
    {% endblock %}
  </head>
  <body>
    <div id="container">
      {% block body %}
      <div class="verse">
        <p>Hoo, hoo-hoo, hoo-hoo
      </div>
      <div class="verse">
        <p>You told me, I see you rise</p>
        <p>But, it always falls</p>
        <p>I see you come, I see you go</p>
      </div>
      <div class="verse">
        <p>You say, "All things pass, into the night"</p>
        <p>And I say, "Oh no sir, I must say, you're wrong</p>
        <p>I must disagree, oh no sir, I must say, you're wrong"</p>
        <p>Won't you listen to me</p>
      </div>
      <div class="verse">
        <p>You told me, I've seen it all before</p>
        <p>I've been there</p>
        <p>I've seen my hopes and dreams a-flying on the ground</p>
      </div>
      <div class="verse">
        <p>I've seen the sky just begin to fall</p>
        <p>And you say, "All things pass, into the night"</p>
        <p>And I say, "Oh no sir, I must say. you're wrong</p>
        <p>I must disagree, oh no sir, I must say. you're wrong"</p>
        <p>Won't you listen to me?</p>
      </div>
      <div class="verse">
        <p>Goodbye horses</p>
        <p>I'm flying over you</p>
        <p>Goodbye horses</p>
        <p>I'm flying over you</p>
      </div>
      <div class="verse">
        <p>Goodbye horses</p>
        <p>I'm flying over you</p>
        <p>Goodbye horses</p>
        <p>I'm flying, flying, flying over you!</p>
      </div>
      {% endblock %}
  </body>
</html>
