    <select name="lexer" id="lexer">
{% set lexers = [
      ("not_in_list", "(manual input)"),
      ("as", "ActionScript"),
      ("apacheconf", "Apache configuration"),
      ("bash", "Bash"),
      ("bat", "Batchfile"),
      ("bbcode", "BBCode"),
      ("c", "C"),
      ("csharp", "C#"),
      ("css", "CSS"),
      ("d", "D"),
      ("delphi", "Delphi"),
      ("diff", "Diff"),
      ("django", "Django template"),
      ("erlang", "Erlang"),
      ("go", "Go"),
      ("haskell", "Haskell"),
      ("html", "HTML"),
      ("ini", "INI"),
      ("java", "Java"),
      ("js", "JavaScript &#9733;"),
      ("jsp", "JSP (Java Server Page&trade;)"),
      ("django", "Jinja template"),
      ("tex", "LaTeX"),
      ("common-lisp", "Lisp (CLisp)"),
      ("llvm", "LLVM"),
      ("lua", "Lua"),
      ("make", "Makefile"),
      ("mako", "Mako"),
      ("trac-wiki", "Trac Wiki markup"),
      ("objective-c", "Objective-C"),
      ("ocaml", "OCaml"),
      ("perl", "Perl"),
      ("php", "PHP"),
      ("python", "Python &#9829;"),
      ("pycon", "Python interactive interpreter"),
      ("rst", "reStructuredText"),
      ("rhtml", "RHTML"),
      ("rb", "Ruby"),
      ("rbcon", "Ruby IRB session"),
      ("scheme", "Scheme"),
      ("sql", "SQL"),
      ("text", "Text only"),
      ("vim", "Vim script"),
      ("xml", "XML"),
  ] %}
      <option value="text">the usual</option>
{% for (lexer, display) in lexers %}
      <option value="{{ lexer }}"{% if current_lexer == lexer %} selected="selected"{% endif %}>{{ display }}</option>
{% endfor %}
    </select>
