{% extends "base.html" %}

{% block title %}Viewing the {{ pasta.lexer }} {{ pasta.pasta_id }} pasta{% endblock %}
{% block head -%}
  {{- super() -}}
  {{ js("views/show.js") }}
  {% if owner %}{{ js("views/show_owner.js") }}{% endif %}
{%- endblock %}

{% block body %}
  <ul id="menu">
    {%- if owner %}
    <li><a href="delete/">Remove</a></li>
    {%- endif %}
    <li><a href="text/">Plain-text</a></li>
    <li><a href="attachment/">Download</a></li>
    <li><a href="clone/">Clone</a></li>
    <li><a href="/">New</a></li>
  </ul>
  <div style="clear: left;"/></div>

  {% if owner -%}
  <form action="edit/" method="post">
    <div class="navarea">
      {% set current_lexer = pasta.lexer %}
      <label for="lexer">I'm having {% include "lexers.html" %} pasta</label>
      <input type="submit" class="bambutton" value="Change pasta type" />
    </div>
  </form>
  {%- endif %}

  {{ pasta.code_html }}
{%- endblock %}
